.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


div{
    position: absolute;
    left: 32%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    text-align: center;
    float: left;
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: peachpuff;
}

body{
    background-color:peachpuff;
    margin: 0;
}
a{
 text-decoration: none;
    color: darkmagenta;
}

h3{
  text-align: center;
    color: darkmagenta;
}

.left1 {
    float: left;

    padding: 300px 40px 20px 30px;
}

.left2 {
    padding: 350px 40px 20px 40px;
    font-size: 30px;
}


.virs1{
    font-size: 60px;
  }

.virs2{
    font-size: 60px;
    color: darkmagenta;
}

.right1{
    float: right;
    padding: 0px 40px;
}

.right2{
    float: right;
    padding: 25px 0px ;
    font-size: 30px;
}

.virs3{
    padding: 300px;
    font-size: 60px;
    color: darkmagenta;
    position: center;
}

.left3{
    float: left;

}

.center2{
    position: center;

}

.right3{
    float: right;

}